.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 90px;
  padding-right: 41px;

  @media (max-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
  }
}

.contacts__title {
  margin-bottom: 15px;
}

.contacts__item {
  padding-left: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: $maincolor;

  &--phone {
    padding-left: 7px;
    font-size: 16px;
    line-height: 32px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }

  &:hover,
  &:focus {
    color: fade-out($darkgrey, 0.5);
  }

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    stroke: fade-out($darkgrey, 0.3);
  }

  &--tablet {
    display: none;
    margin: 0;

    @media (max-width: 1080px) {
      display: block;
      margin-bottom: 10px;
    }
  }

  &--desktop {
    @media (max-width: 1080px) {
      display: none;
    }
  }
}

.contacts__icon {
  position: relative;
  top: 6px;
  left: -13px;
  stroke: $maincolor;
  fill: none;

  &--phone {
    left: -8px;
  }
}
