.footer {
  margin-bottom: 75px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.footer__container {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-width) {
    margin: 0 21px;
    display: grid;
    grid-template-columns: minmax(395px, 50%) auto;
    grid-template-rows: auto;
    row-gap: 18px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__block {
  position: relative;
  border-right: 1px solid #d7d9df;

  @media (max-width: $mobile-width) {
    width: 100%;
    flex: 1 1 auto;
    padding-bottom: 8px;
    border-right: none;
    border-bottom: 1px solid #d7d9df;
    text-align: center;
  }
}

.footer__block:last-child {
  border-right: none;

  @media (max-width: $mobile-width) {
    border-bottom: none;
  }
}

@media (max-width: $tablet-width) {
  .footer__block:nth-child(2) {
    border-right: none;
  }
}

.footer__block-title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
  }
}
