.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;

  @media (max-width: $tablet-width) {
    z-index: 5;
    width: 100%;
    height: 50px;
    background-color: $white;
    flex-direction: column;

    &--opened {
      position: absolute;
      height: 100vh;
    }

    &--opened .header__logo {
      display: none;
    }
  }
}

.header__logo {
  flex: 1;

  @media (max-width: $tablet-width) {
    width: 44px;
    height: 17px;
    margin-top: 15px;
    margin-left: 21px;
    margin-right: auto;
  }
}
