.main-nav {
  position: relative;
  flex: 1;
  display: flex;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 24px;
  width: 22px;
  height: 1px;
  background-color: #dadada;
  box-shadow: 0 7px 0 0 #dadada, 0 13px 0 0 #dadada;

  @media (max-width: $mobile-width) {
    left: 14px;
  }
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .header__logo {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  top: 15px;
  right: 25px;
  width: 23px;
  height: 23px;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: fade-out($darkgrey, 0.8);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($black, 0.3);
  }
}

.main-nav__list {
  margin: 0;
  margin-left: auto;
  margin-right: 15px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin: 0;
    padding-left: 0;
    width: 100%;
    flex-direction: column;
    padding-top: 135px;
    padding-bottom: 135px;
  }
}

.main-nav__item {
  @media (max-width: $tablet-width) {
    position: relative;
    width: 100%;
    background-color: #fbf8f8;
    margin-bottom: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 22px;
      right: 20px;
      background: url("../img/arrow-down.svg") no-repeat;
    }

    &--phone {
      display: none;
    }
  }
}

.main-nav__item:hover .main-nav__link {
  color: $maincolor;
}

.main-nav__item:not(:last-child) {
  @media (min-width: $desktop-width-only) {
    margin-right: 38px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $darkgrey;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  &:hover {
    color: $maincolor;
  }

  &:hover .main-nav__link-icon {
    stroke: $maincolor;
  }

  @media (max-width: $tablet-width) {
    display: block;
    padding: 17px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #48494d;
  }
}

.main-nav__link--phone {
  position: relative;
  padding-left: 56px;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__link-icon {
  position: absolute;
  top: -3px;
  left: 21px;
  fill: none;
  stroke: $darkgrey;
}
